.Footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.LogoWrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
}

.LogoWrapper img {
    width: 150px;
    height: auto;
}

.Footer .Disclaimer {
    text-transform: uppercase;
    font-size: 12px;
    margin: 20px 0;
}

@media only screen and (max-width: 1000px) {
    .Footer .Disclaimer {
        padding: 0 10px;
    }
}