.SplashLogoWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SplashLogoWrapper img {
    max-width: 600px;
    width: 90%;
    height: auto;
    padding: 20px;
}